@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: "Assistant", sans-serif;
}

nav {
  height: 100px;
  width: 100%;
  background-color: white;
  position: fixed;
  box-shadow: 0px 0px 5px #a2a2a277;
  z-index: 100;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 10px;
}
.container img {
  height: 70px;
  width: 70px;
  margin-left: 50px;
}

.container a {
  text-decoration: none;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.822);
  font-weight: 700;
}

.search input {
  height: 35px;
  width: 400px;
  background-color: #f5f5f6;
  font-size: 16px;
  padding: 5px;
  padding-left: 50px;
  border: none;
  margin-left: 200px;
}

.search {
  position: relative;
}

.search i {
  position: absolute;
  top: 16px;
  left: 210px;
  color: rgba(39, 12, 12, 0.664);
}

.profile {
  font-size: 20px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.profile span {
  font-size: 18px;
}

.main {
  padding-top: 140px;
  position: relative;
}

.image img {
  width: 90%;
  margin-left: 90px;
}

.advertise {
  position: relative;
  margin-top: 500px;
}

.advertise .one {
  position: absolute;
  top: 10;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 50%;
}

.advertise .two {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  width: 50%;
}

.bellicon {
  position: relative;
}

.bellicon .bell {
  position: absolute;
  position: fixed;
  top: 665px;
  left: 200;
  right: 30px;
  height: 60px;
  width: 60px;
  background: #0086f7;
  border-radius: 50%;
  z-index: 100;
}

.bell i {
  font-size: 30px;
  color: white;
  position: absolute;
  position: fixed;
  top: 680px;
  left: 200;
  right: 48px;
}

.add {
  height: 350px;
  width: 50px;
  background-color: #525766;
  position: absolute;
  position: fixed;
  top: 300px;
  left: 200;
  right: 10px;
  z-index: 100;
}

.add p {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  width: 40px;
  padding: 4px;
  margin-top: 100px;
  height: 230px;
  vertical-align: middle;
  text-align: center;
  font-size: 33px;
  font-weight: 600;
  color: #fcfcfc;
}

.add i {
  font-size: 50px;
  color: rgb(255, 255, 255);
  position: absolute;
  position: fixed;
  top: 320px;
  left: 200;
  right: 20px;
  z-index: 100;
}

.page2 img {
  width: 100%;
}

.advertise-second img {
  width: 50%;
  background-color: red;
}

.box {
  height: 100%;
  position: relative;
  padding-top: 170px;
}

.page2 {
  position: relative;
}

.box #three {
  position: absolute;
  top: 10;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 50%;
}

.box #four {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  width: 50%;
}

.mySlides #boat {
  height: 400px;
  width: 10px;
}

.gridlayout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.gridlayout img {
  width: 25%;
}

.heading {
  width: 100%;
}

.shopping {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.shopping img {
  width: 280px;
  margin-right: -10px;
}

.category #end {
  margin-left: 500px;
}

.banner img {
  width: 100%;
}

footer {
  align-content: center;
  background-color: rgb(255, 255, 255);
}

.textcontainer {
  max-width: 90vw;
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

ul {
  list-style: none;
  font-weight: 700;
}

h3 {
  margin: 20px 0px;
}

li {
  font-size: 18px;
  margin-bottom: 10px;
  list-style: none;
  font-weight: 400;
  color: #6c6d6d;
}

.thirdpart img {
  margin-top: 10px;
  width: 180px;
}

#images img {
  width: 30px;
  margin-right: 13px;
}

#yt {
  margin-bottom: 5px;
  height: 25px;
  width: 35px;
}

.forthpart .product {
  display: flex;
}

.forthpart {
  margin-top: 30px;
}

.product img {
  width: 65px;
  height: 55px;
  margin-right: 15px;
  margin-bottom: 10px;
}

#btn2 {
  height: 55px;
  margin-left: 5px;
}

.span {
  font-size: 18px;
  width: 300px;
}

.span2 {
  font-weight: 700;
}

.containertwo {
  margin: 0px 140px;
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 15px;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  color: #6c6d6d;
}

.info {
  font-size: 22px;
  margin-left: 240px;
}

.info:nth-child(1) {
  margin: 0;
}

.information {
  color: #446dcf;
}

hr {
  width: 85%;
  margin-left: 130px;
}

.address {
  margin-left: 140px;
  display: block;
  width: 50%;
}

.tel {
  width: 50%;
  margin-top: 185px;
  margin-left: 300px;
}

.tel h4 {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
}

.addcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.address h4 {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  color: #6c6d6d;
}

.address h3 {
  font-size: 20px;
}

.onlineshopping {
  margin: 0px 140px;
}

#li {
  margin-top: 20px;
  line-height: 27px;
  list-style: decimal;
  margin-left: 50px;
  font-size: 18px;
  color: #6c6d6d;
}

.li {
  list-style: disc;
  margin-top: 10px;
}

#ul {
  margin-top: 15px;
  font-size: 20px;
}

.div {
  margin-left: 60px;
}

.cont {
  margin-left: 140px;

  font-size: 19px;
}

.cont h4 {
  margin-top: 20px;
  padding-bottom: 20px;
}

.cont p {
  color: #6c6d6d;
}

.para {
  font-size: 30px;
  color: #6c6d6d;
}
